.background {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background-image: url("../images/initial-login-image.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.section {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    border-radius: 8px;
    box-shadow: 3px 3px 3px rgba(173, 180, 175, 0.425);
    background-color: rgba(202, 38, 93, 0.267);
}

.background-division {
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    background-color: rgb(252, 252, 252);
}

.background-division .image-login {
    width: 550px;
    height: 85%;
}

.insert-division {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 30px 10px;
    border-radius: 20px;
}

.form {
    margin-top: 15px;
    display: block;
    justify-items: center;
    align-content: center;
    padding-right: 0px;
    padding-bottom: 15px;
}

legend {
    margin-left: 15px;
    justify-self: left;
    color: beige;
    padding: 5px 0px;
}

.description {
    color: rgba(240, 255, 255, 0.897);
    width: 60%;
    text-align: center;
}

.error {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 8px;
    color: rgb(255, 255, 255);
    background-color: rgba(255, 0, 64, 0.719);
    border-radius: 4px;
}

.msg-error {
    text-align: center;
    font-weight: 500;
    font-size: medium;
    padding: 0px 6px;
    max-width: 220px;
    overflow-wrap: break-word;
    word-break: break-word;
}

@media screen and (max-width: 850px) {
    .background {
        background-image: url("../assets/images/admin-login-image-mobile.jpg");
        justify-content: center;
    }

    .section {
        margin: 0;
    }
}

@media screen and (min-width: 1920px) {
    .section {
        height: 70%;
    }
}